<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="cs" xml:lang="cs"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet"
          href="../static/css/styles.css"
          th:href="${'css/styles.css'}"/>
    <link rel="icon"
          href="../static/images/favicon.png"
          th:href="${'images/favicon.png'}"/>
    <title>Pexeso</title>
</head>
<body>
    <!--/*@thymesVar id="karty" type="java.util.List<java.lang.String>"*/-->

    <h1>Pexeso</h1>

    <div class="zprava">
        <a href="stul.html">Rozdat znovu</a>
    </div>

    <div class="pexeso">

        <th:block th:each="karta : ${karty}">
            <img class="karta" th:src="${'images/' + karta + '.jpg'}" src="../static/images/karta0.jpg" alt="Obrázek karty"/>
        </th:block>

        <!--/* Following block is removed by ThymeLeaf -->
        <img class="karta" src="../static/images/karta0.jpg" alt="Obrázek karty"/>
        <img class="karta" src="../static/images/karta1.jpg" alt="Obrázek karty"/>
        <img class="karta" src="../static/images/karta1.jpg" alt="Obrázek karty"/>

        <img class="karta" src="../static/images/karta2.jpg" alt="Obrázek karty"/>
        <img class="karta" src="../static/images/karta2.jpg" alt="Obrázek karty"/>
        <img class="karta" src="../static/images/karta3.jpg" alt="Obrázek karty"/>
        <img class="karta" src="../static/images/karta3.jpg" alt="Obrázek karty"/>

        <img class="karta" src="../static/images/karta4.jpg" alt="Obrázek karty"/>
        <img class="karta" src="../static/images/karta4.jpg" alt="Obrázek karty"/>
        <img class="karta" src="../static/images/karta5.jpg" alt="Obrázek karty"/>
        <img class="karta" src="../static/images/karta5.jpg" alt="Obrázek karty"/>

        <img class="karta" src="../static/images/karta6.jpg" alt="Obrázek karty"/>
        <img class="karta" src="../static/images/karta6.jpg" alt="Obrázek karty"/>
        <img class="karta" src="../static/images/karta7.jpg" alt="Obrázek karty"/>
        <img class="karta" src="../static/images/karta7.jpg" alt="Obrázek karty"/>
        <!--*/-->
    </div>

</body>
</html>
